* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========== Common ========== */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    text-align: center;
    min-width: 186px;
    line-height: 68px;
    border-radius: 14px;
    border: 1px solid var(--primary-color);
    color: #fff;
    background-color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 62px;
    line-height: 1.16; /* 116.129% */
}

.heading.lv2 {
    font-size: 42px;
    line-height: 1.33; /* 133.333% */
}
/* ========== Header ========== */
.header {
    padding: 52px 0 10px;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .navbar {
    margin-left: auto;
}

.navbar .list {
    display: flex;
}

.navbar .list a {
    color: #2f3a3b;
    font-size: 1.6rem;
    padding: 8px 20px;
}

.navbar .item a:hover,
.navbar .item.active a {
    color: #2f3a3b;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 #2f3a3b;
}

.header .action {
    margin-left: 157px;
}

.header .body .span {
    color: #494949;
    font-size: 1.6rem;
}

.header .cta-btn {
    min-width: 108px;
    line-height: 48px;
    margin-left: 24px;
}

/* ========== Hero ========== */
.hero {
    padding: 40px 0 79px;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

.hero .content-block {
    margin-top: 93px;
    width: 45%;
}

.hero .content-block .title {
    color: #767e7e;
    font-size: 1.4rem;
    line-height: 1.5;
}

.hero .content-block .heading {
    margin-top: 18px;
}

.hero .content-block .desc {
    width: 374px;
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
}

.hero .content-block .btn {
    margin-top: 52px;
}

.hero .media-block {
    position: relative;
    flex: 1;
}

.hero .media-block .image {
    width: 90%;
    height: 631px;
    display: block;
    margin-left: auto;
    object-fit: cover;
    border-radius: 18px;
}

.media-block .courses {
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    padding: 18px 25px;
    position: absolute;
    left: 0;
    top: 149px;
    display: flex;
    align-items: center;
    gap: 16px;
    width: 157px;
}

.media-block .courses span {
    background-color: #ff8282;
    border-radius: 6px 3px 3px 6px;
}

.media-block .courses img {
    padding: 28px 4px 8px;
}

.media-block .courses .desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.media-block .schedule {
    padding: 16px 25px 23px;
    position: absolute;
    left: 0;
    bottom: 46px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.media-block .schedule .desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.media-block .students-block {
    position: absolute;
    bottom: 41px;
    right: 45px;
}

.students-block .avatar-wrap {
    display: flex;
}

.students-block {
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.avatar-wrap .avatar {
    margin-top: 8px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.students-block .desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.avatar-wrap .avatar + .avatar {
    margin-left: -4px;
}

/* ========== Features ========== */
.features {
    padding: 65px 0;
    margin-top: 65px;
}

.feature-top {
    width: 590px;
}

.features .title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .heading {
    margin: 18px 0;
}

.features .desc {
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.5;
}

.icon-link {
    margin-top: 80px;
    display: inline-block;
    padding: 29px 27px;
    background-color: #ffc147;
    border-radius: 16px;
}

.features .list {
    width: 1024px;
    display: flex;
    gap: 210px;
}

.features .item .heading {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features .item .desc {
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.69; /* 168.75% */
}

.features .item:nth-child(2) .icon-link {
    background-color: #ff947a;
}

.features .item:nth-child(3) .icon-link {
    background-color: #bf83ff;
}

/* ========== Populars ========== */
.popular .main-content {
    width: 1171px;
}

.popular__list {
    display: flex;
    margin-top: 79px;
    gap: 47px;
    padding-bottom: 124px;
}

.popular .item {
    position: relative;
    width: 33.33%;
}

.popular .item .thumb {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
}

.popular .item .thumb:hover {
    opacity: 0.9;
    background: #d0efed;
}

.popular .info {
    position: absolute;
    right: 17px;
    left: 17px;
    bottom: -124px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular .info .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.popular .info .price {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
}
.popular .info .price strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.popular .info .desc {
    color: #9da6a5;
    font-size: 1.4rem;
}

.popular .info .stat {
    margin-top: 18px;
    display: flex;
}

.popular .stat .quantity {
    color: #9da6a5;
    font-size: 1.4rem;
}

.popular .stat .quantity:before {
    content: "";
    top: -2px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1ebfc1;
}

.popular .stat .quantity:nth-child(2):before {
    margin-left: 10px;
}

/* ========== Stats ========== */
.stats {
    margin: 200px 0;
}

.stats .main-content {
    width: 862px;
}

.stats__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats__item {
    text-align: center;
}

.stats__desc {
    margin-top: 20px;
    color: #767e7e;
    font-size: 1.8rem;
}

/* ========== Feedback ========== */
.feedback {
    padding: 65px 0 130px;
}

.feedback__block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 72px;
}

.feedback__quote {
    margin-top: 27px;
    width: 429px;
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 1.5; /* 150% */
}

.feedback__author {
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
}

.feedback__author strong {
    color: #070707;
    font-weight: 500;
}

.feedback__chevrons {
    display: flex;
    margin-top: 52px;
    column-gap: 30px;
}

.feedback__chevron {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2ac9bf;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    cursor: pointer;
}

.feedback__chevron:hover {
    opacity: 0.9;
}

.feedback__chev-right {
    rotate: 180deg;
}

.feedback__images {
    flex: 1;
    position: relative;
    min-height: 481px;
}

.feedback__img {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
}

.feedback__img-1 {
    width: 92px;
    height: 92px;
    top: 0;
    left: 144px;
}

.feedback__img-2 {
    width: 110px;
    height: 110px;
    top: 19px;
    right: 0;
}

.feedback__img-3 {
    width: 235px;
    height: 235px;
    top: 107px;
    right: 171px;
}

.feedback__img-4 {
    width: 78px;
    height: 78px;
    right: 601px;
    bottom: 145px;
}

.feedback__img-5 {
    width: 78px;
    height: 78px;
    bottom: 0;
    right: 389px;
}

.feedback__img-6 {
    width: 78px;
    height: 78px;
    right: 32px;
    bottom: 29px;
}

/* ========== Call to action ========== */
.cta {
    padding: 88px 0;
    background-color: #def6f5;
}

.cta__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta__desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

/* ========== Footer ========== */
.footer {
    padding: 131px 0 50px;
}

.footer__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(127px, 1fr));
    column-gap: 130px;
}

.footer__heading {
    margin-bottom: 25px;
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer__item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.footer__item-link {
    color: #535353;
    font-size: 1.6rem;
    white-space: nowrap;
}

.footer__item-link:hover {
    text-decoration: underline;
}
